/* NOTE: this stylesheet is compressed and directly embedded into the go code */
:root {
  --b: #fbf1c7;
  --f: #282828;
  --d: #af3a03;
  font-family: monospace;
  font-size: 16px;
}

* {
  color: var(--f);
  background: var(--b);
}

body {
  margin: 0;
  padding: 1.5rem;
  line-height: 1.8;
}

h1 {
  font-size: 1.5rem;
}

a {
  word-wrap: break-word;
  min-width: 0;
  white-space: pre-wrap;
  text-underline-position: under;
}

.d {
  color: var(--d);
}

.g {
  display: grid;
  width: 100%;
  grid-template-columns: 7fr 3fr 2fr;
}

.g * {
  margin: 0.5rem;
}

.g *:nth-child(3n + 3) {
  text-align: right;
}

@media (prefers-color-scheme: dark) {
  :root {
    --b: #282828;
    --f: #fbf1c7;
    --d: #fe8019;
  }
}

@media (max-width: 880px) {
  .g {
    grid-template-columns: 7fr 3fr;
  }

  .g * {
    margin: 1rem;
  }

  .g *:nth-child(3n + 2) {
    display: none;
  }
}
